<div *ngIf="loginForm" class="login-form-container container col-sm-8 col-md-6">
  <form method="post" (submit)="login($event)" #signInForm>
    <div class="form-group">
      <label for="username">Username:</label>
      <input id="username" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Login</button>
  </form>
  <span (click)="registerForm=true;loginForm=false">Register here</span>
</div>
<div *ngIf="registerForm" class="register-form-container container col-md-6 col-sm-8">
  <form method="post" (submit)="register($event)" #signUpForm>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input id="firstName" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input id="lastName" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" type="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="tel">Cell Number:</label>
      <input id="tel" type="tel" class="form-control">
    </div>
    <div class="form-group">
      <label for="userPwd">Password:</label>
      <input id="userPwd" type="password" class="form-control">
    </div>
    <div class="form-group">
      <label for="confPwd">Confirm Password:</label>
      <input id="confPwd" type="password" class="form-control">
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" id="studentRole" name="role" value="student" checked>
      <label for="studentRole" class="form-check-label">Student</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" id="teacherRole" name="role" value="teacher">
      <label for="teacherRole" class="form-check-label">Teacher</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" id="tutorRole" name="role" value="tutor">
      <label for="tutorRole" class="form-check-label">Tutor</label>
    </div>
    <button type="submit" class="btn btn-success">Register</button>
  </form>
</div>

<div *ngIf="user">
  <app-classroom></app-classroom>
</div>
